<!DOCTYPE html>

{% extends "basicApp/base.html" %}
{% block body_block %}
    <div class="jumbotron">
    <h1>Please Login!</h1>

    <form  action="{% url 'basicApp:user_login' %}" method="post">
      {% csrf_token %}

      <label for="">UserName : </label>
      <input type="text" name="username" placeholder="Enter here!!">
      <label for="">Password :</label>
      <input type="password" name="password">
      <input type="submit" name="" value="Login!">

      </form>


    </form>

    </div>
{% endblock %}
